/* * {
    border: 1px dashed red
} */

html {
  background: linear-gradient(to bottom, rgb(7, 6, 6), rgba(52, 50, 163, 0.575));
  height: 100vh;
}

span {
    color: white;
}
.profile {
    width: 45%;
    height: auto;
    margin: auto;
    justify-content: center;
   
}

.bGround {
  width: 100%;
  height: 35vh;
  margin: auto;
  margin-top: 25%;
  box-sizing: content-box;
  
}

#backImage {
  width: 100%;
  height: 65vh;
  margin: auto;
  border: none;
  bottom: 95%;
  box-sizing: content-box;
  position: relative;
 }

.profileImage {
  width: 50%;
  height: 59vh;
  margin: auto;
  margin-top: -69%;
  position: relative;

}

#profilePic2 {
  width: 100%;
  border-radius: 50px;
}

h1 {
  display: inline;
  
}
.information {
  text-align: center;
  font-style: italic;
  
}
.button {
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.social, .personalInfo, .image{
  padding-top: 10%;
  padding-left: 5%;
  
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1%;
    font-size: 30px;
    
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 930px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 10px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .submit{
    font-size: 20px;
    cursor: pointer;
    background-color: purple;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
